*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body{
	display: flex;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: lightblue;
	background-size: cover;
}
form{
	margin-top: 50px;
	text-align: center;
}
input{
	display: block;
	width: 350px;
	height: 38px;
	margin: 20px;
	border: none;
	outline: none;
	font-size: 20px;
	border-bottom: 1px solid black;
	background: transparent;
}
button{
	width: 350px;
	height: 40px;
	font-size: 20px;
	margin-top: 30px;
}
form h1{
	margin-bottom: 30px;
}

:: placeholder {
	color: white;
}